<div class="row m-b-18px">
  <div class="col-md-12">
      <a (click)="readTasks()" class='btn btn-primary pull-right'>
          <span class='glyphicon glyphicon-list'></span> Read tasks
      </a>
  </div>
</div>

<!-- HTML form for creating a task -->
<div class="row">
<div class="col-md-12">

<!--
  1. Bind our HTML form to Angular using [formGroup]
  2. If form was submitted, call createtask() method of CreatetaskComponent
-->
<form [formGroup]="create_task_form" (ngSubmit)="createtask()">
<table class="table table-hover table-responsive table-bordered">
  <tr>
      <td>Name</td>
      <td>
          <!-- Bind this input field to our 'angular form field' using formControlName -->
          <input
              formControlName="name"
              name="name" type="text"
              class="form-control" required />

          <!-- show this error if the field is 'empty' and 'touched' -->
          <div
              *ngIf="create_task_form.get('name').touched && create_task_form.get('name').hasError('required')"
              class="alert alert-danger">
              Name is required.
          </div>
      </td>
  </tr>

  <tr>
      <td></td>
      <td>
          <!-- disable the submit button if the form is 'invalid' -->
          <button class="btn btn-primary" type="submit" [disabled]="create_task_form.invalid">
              <span class="glyphicon glyphicon-plus"></span> Create
          </button>
      </td>
  </tr>
</table>
</form>

</div>
</div>